html {
    height: 100%;
}

body {
    background: url('/media/gold_scroll_home.jpg') center center fixed;
    background-size: 100%;
    height: calc(100vh - 164px);
    color: black;
    font-weight: bold;
    font-family: 'Lato';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

#dropdown-nav {
    background-color: #222222;
} 

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222222;
    color: rgb(255, 221, 0);
    opacity: 0.6;
    
}

.text-gold {
    color: gold !important;
}

.border-btn {
    border: 2px solid gold !important;
}

.articles_surface {
    background-color: #f8f9fa;
}

.image-container {
    max-height: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;
    box-shadow: 1 5px 10px 0 rgba(0, 0, 0, 0.155);
    margin: auto;
    text-align: center;
    font-family: 'Lato';
}

.article {

    background-color: #ffffff;
    padding: 20px;
    height: 100%;


}

.article-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.return-button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #ffd500;
    justify-content: flex-end;

}


.return-button a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

}