<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About US
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Our Story</a>
                <a href="" class="dropdown-item ">Contact Details</a>
                <a href="" class="dropdown-item ">Customer Support</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Price Range</a>
                <a href="" class="dropdown-item ">Rating Range</a>
                <a href="" class="dropdown-item bg-primary font-weight-bold">Newest Addition</a>
                <a href="{% url 'articles' %}" class="dropdown-item bg-warning">All Gold Merchandise</a>
            </div>
        </li>
    </ul>
</div>