<div class="collapse navbar-collapse bg-warning" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 rounded-pill bg-danger" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About US
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Our Story</a>
                <a href="" class="dropdown-item ">Contact Details</a>
                <a href="" class="dropdown-item ">Customer Support</a>
            </div>
        </li>
        <li class="nav-item dropdown bg-warning rounded-pill">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 rounded-pill bg-danger" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'articles' %}?sort=price&direction=asc" class="dropdown-item">Price Range</a>
                <a href="{% url 'articles' %}?sort=rating&direction=desc" class="dropdown-item">Rating Range</a>
                <a href="{% url 'articles' %}" class="dropdown-item font-weight-bold">All Gold Merchandise</a>
            </div>
        </li>
    </ul>
</div>